.MobileNavbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.625rem 0 0.375rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.MenuButton {
  font-size: 1rem;
  background-color: transparent;
  border: none;
  color: #000;
  cursor: pointer;
}

.UserButton {
  font-size: 1.25rem;
  background-color: transparent;
  border: none;
  color: #000;
}

.MobileNavbar h1 {
  font-family: "Old English Text MT", "Blackletter", serif;
  font-size: 2rem;
  margin: 0;
}

.navbar {
  display: none;
}

.navbar.open {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  position: relative;
  width: 100%;
  margin: 0;
  max-width: 1200px;
}

.navbar.open ul {
  list-style: none;
  width: 100%;
  padding: 0 0 0 1rem;
  margin: 0;
  box-sizing: border-box;
}

.navbar.open ul li {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 1rem 1.5rem 0;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.4375rem;
  font-weight: bold;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.navbar.open ul li .dropdownContent {
  width: 100%;
  padding: 0.5rem 0;
}

.navbar.open ul li .dropdownContent .container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0.5rem 0;
}

.navbar.open ul li .dropdownContent .container > div {
  display: flex;
  flex-direction: column;
}

.navbar.open ul li .dropdownContent .container h1 {
  display: none;
}

.navbar.open ul li .dropdownContent .container p {
display: none;
}

.navbar.open ul li .dropdownContent .container h2 {
  font-size: 0.875rem;
  color: #5a5a5a;
  margin-bottom: 1rem;
}

.navbar.open ul li .dropdownContent .container ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.4rem 0;
  padding: 0 0 1rem;
  margin: 0;
  list-style: none;
  border-bottom: none;
}

.navbar.open ul li .dropdownContent .container ul li {
  font-size: 0.875rem;
  font-weight: normal;
  padding: 0;
  border-bottom: none;
}

.navbar.open ul li .dropdownContent .container ul li:last-child {
  border-bottom: none;
}

.SearchSection {
  display: flex;
  align-items: center;
  padding: 0.625rem 1rem;
  width: 100%;
  box-sizing: border-box;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 10;
}

.SearchSection input {
  border: 1px solid rgb(120, 120, 120);
  box-sizing: border-box;
  color: rgb(102, 102, 102);
  font-size: 0.875rem;
  font-family: helvetica, arial, sans-serif;
  height: 35px;
  padding: 1px 10px 0px 10px;
  flex: 1;
  min-width: 0;
  margin: 0 10px 0 0;
  border-radius: 3px;
}

.SearchSection button {
  flex-shrink: 0;
  border-radius: 3px;
  cursor: pointer;
  font-family: helvetica, arial, sans-serif;
  transition: 0.6s;
  white-space: nowrap;
  background-color: rgb(86, 123, 149);
  border: 1px solid rgb(50, 104, 145);
  color: rgb(255, 255, 255);
  font-size: 11px;
  line-height: 11px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  height: 35px;
  font-weight: bold;
  margin: 0px;
  padding: 8px 9px 6px;
  vertical-align: middle;
  opacity: 0.5;
}

@media (min-width: 1024px) {
  .MobileNavbar {
    display: none;
  }

  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    margin: 0;
    max-width: 1200px;
  }

  .navbar ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 0 0.2rem;
    padding: 16px 12px 13px;
    border-bottom: 1px solid #000;
    box-sizing: border-box;
  }

  .navbar ul li:hover span {
    color: #000;
    border-bottom: 3px solid #000;
    position: relative;
  }

  .navbar ul li span {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #121212;
    cursor: pointer;
    border-bottom: 3px solid transparent;
    font-weight: normal;
    position: relative;
  }

  .dropdownContent {
    position: absolute;
    left: 0;
    width: 100%;
    background: white;
    z-index: 1000;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
    padding: 1rem;
  }

  .dropdownContent .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    font-family: helvetica, arial, sans-serif;
    height: auto;
    padding: 1rem 0 2rem;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
  }

  .dropdownContent .container h1 {
    font-size: 1.25rem;
    color: #121212;
    margin-bottom: 1rem;
  }

  .dropdownContent .container h2 {
    font-size: 1rem;
    color: #5A5A5A;
    margin-bottom: 1rem;
    line-height: 1.25rem;
  }

  .dropdownContent .container p {
    font-size: 0.875rem;
    color: #363636;
    line-height: 1.25rem;
  }

  .dropdownContent .container ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem 1rem;
    border-bottom: none;
  }

  .dropdownContent .container ul li {
    font-size: 0.875rem;
    color: #121212;
    cursor: pointer;
  }

  .dropdownContent .container .firstSection {
    grid-column: 1;
  }

  .dropdownContent .container .secondSection {
    grid-column: 2;
  }

  .dropdownContent .container .thirdSection {
    grid-column: 3;
  }

  .SearchSection {
    display: none;
  }
}
